.my-content{
    width: 100%;
    position: absolute;
    top: 44px;
    bottom: 50px;
    left: 0;
    display: flex;
    .category-left{
        width: 80px;
    }
    .category-right{
        flex: 1;
        background-color: blue;
    }
}